
@import "tailwindcss";

@plugin "tailwind-scrollbar";

@theme{
  --color-primary: oklch(98.7% 0.026 102.212);
  --color-secondary: oklch(70.7% 0.022 261.325);
  --color-tertiary: oklch(68.1% 0.162 75.834);
  --color-quaternary: #000000;
  --color-quinary: #edecd8;
}


body{
  background-color: oklch(98.7% 0.026 102.212);
}


